@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.c-btn--request__top {
  width: 262px;
  font: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: white;
  background-color: #DA6B64;
  border-radius: 25px; }

.c-btn--request__top:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }

.c-basic-card {
  margin: 10px;
  width: 377px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  text-align: center;
  background-color: white; }

.c-basic-card--img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto; }

.c-basic-card--content {
  padding: 20px; }

.c-basic-card--title {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: center;
  color: #333;
  background-color: #EBB94D;
  border-radius: 7px; }

.c-basic-card--text {
  color: #777;
  font-size: 12px;
  line-height: 19px; }

.c-card-five {
  display: flex;
  justify-content: center; }
  .c-card-five--card {
    margin-top: 24px;
    width: 133px;
    list-style: none; }
  .c-card-five--title {
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    text-align: center; }
  .c-card-five--img {
    text-align: center; }

.c-card-five {
  display: flex;
  justify-content: center; }
  .c-card-five--card {
    margin-top: 24px;
    width: 133px;
    list-style: none; }
  .c-card-five--title {
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    text-align: center; }
  .c-card-five--img {
    text-align: center; }

.c-card-three {
  display: flex;
  justify-content: center; }
  .c-card-three__img {
    text-align: center; }
  .c-card-three__card {
    margin-top: 24px;
    width: 133px;
    list-style: none; }
  .c-card-three__title {
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    text-align: center; }

.c-content-center1 {
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/introbottom.jpg");
  background-size: cover;
  width: 100%;
  height: 588px;
  position: relative; }
  .c-content-center1__lead {
    margin: 0 auto;
    padding: 50px 0px 0px;
    font-size: 28px;
    text-align: center; }
  .c-content-center1__follow--top {
    margin: 0px auto;
    padding: 33px 0px 0px;
    font-size: 20px;
    text-align: center;
    width: 800px; }
  .c-content-center1__follow--next {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    width: 800px; }

.c-content-center3 {
  height: 511px;
  width: 100%;
  background-color: white;
  text-align: center; }
  .c-content-center3__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 64px; }
  .c-content-center3__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 42px; }
  .c-content-center3__footer {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; }

.c-content-center4 {
  height: 800px;
  width: 100%;
  background-color: #FEF5E0;
  text-align: center; }
  .c-content-center4__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 60px; }
  .c-content-center4__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 5px; }
  .c-content-center4__footer {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; }

.p-section__photo {
  height: 420px;
  width: 100%;
  background-image: url("/Users/tims/Dropbox/Apps/Byword/coding/isara/img/iSara[イサラ]｜バンコクのノマドエンジニア育成講座_files/aboutsecondbg.jpg");
  background-size: cover;
  text-align: center; }

.p-card--three {
  display: flex;
  justify-content: center; }

.p-section1 {
  width: 100%;
  text-align: center; }
  .p-section1__text--whitelg {
    color: white;
    font-size: 28px;
    padding-top: 63px; }
  .p-section1__text--whitemed {
    color: white;
    font-size: 20px;
    padding-top: 12px; }

.p-section2-caption-shrt {
  background-color: #026EA9;
  width: 100%;
  height: 141px;
  position: relative; }
  .p-section2-caption-shrt__text {
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

.p-section_small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -40px;
  position: relative;
  z-index: 10; }

.p-section__small--oval {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #EBB94D;
  top: -40px;
  font-size: 14px;
  color: white;
  line-height: 80px; }

.p-content-center2 {
  background-color: #FEF5E0;
  width: 100%;
  height: 588px;
  position: relative;
  top: -80px; }
  .p-content-center2__lead {
    margin: 0 auto;
    padding: 120px 0px 0px;
    font-size: 24px;
    text-align: center;
    font-weight: 600; }
  .p-content-center2__lead2 {
    margin: 0 auto;
    padding: 10px 0px 0px;
    font-size: 24px;
    text-align: center;
    font-weight: 600; }
  .p-content-center2__follow--top {
    margin: 0px auto;
    padding: 64px 0px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 600; }
  .p-content-center2__follow--top {
    margin: 0px auto;
    padding: 74px 0px 0px;
    font-size: 16px;
    text-align: center; }

.p-content-center2-inner {
  background-color: white;
  position: relative;
  top: 35px;
  margin: 0px 10px 0px 10px;
  height: 227px;
  border: 1px solid #EBB94D; }
  .p-content-center2-inner__lead {
    margin: 0px auto;
    padding: 27px 0px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 600; }
  .p-content-center2-inner__list {
    margin: 0px auto;
    padding: 27px 0px 0px;
    font-size: 12px;
    text-align: center;
    font-weight: 600; }

.p-basic-card {
  margin: 10px;
  width: 377px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  text-align: center;
  background-color: white; }

.p-basic-card--img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto; }

.p-basic-card--content {
  padding: 20px; }

.p-basic-card--title {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: center;
  color: #333;
  background-color: #EBB94D;
  border-radius: 7px; }

.p-basic-card--text {
  color: #777;
  font-size: 12px;
  line-height: 19px; }

.p-content-center4 {
  height: 1000px;
  width: 100%;
  background-color: #FEF5E0;
  text-align: center;
  position: relative; }
  .p-content-center4__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 60px; }
  .p-content-center4__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 5px; }
  .p-content-center4__card {
    display: flex;
    justify-content: center; }
    .p-content-center4__card--each {
      height: 380px;
      width: 360px;
      list-style: none; }
    .p-content-center4__card--figure {
      height: 180px;
      width: 100%; }
    .p-content-center4__card--title {
      font-size: 20px;
      color: #ebb94d;
      font-weight: 700;
      line-height: 32px; }

.p-article1 {
  position: absolute;
  width: 1170px;
  height: auto;
  top: 550px;
  margin: 20px auto;
  border: 2px solid #EBB94D;
  background-color: white;
  z-index: 10; }
  .p-article1__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    color: #ebb94d;
    text-align: center; }
  .p-article1__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center; }
  .p-article1__sentence　 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: center; }

.p-article2 {
  width: 1170px;
  height: auto;
  margin: 20px auto;
  border: 2px solid #EBB94D;
  background-color: white;
  text-align: center; }
  .p-article2__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    color: #ebb94d;
    text-align: center; }
  .p-article2__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center; }

body {
  background: #81bcd8;
  font-family: "Hiragino Kaku Gothic Pro";
  box-sizing: border-box; }

img {
  margin: 0px; }

.site-header {
  background: white;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  position: inline-block;
  z-index: 10; }

.site-header.fixed {
  position: fixed;
  top: 0; }

.site-header-logo img {
  width: 125px;
  height: auto;
  margin-top: 18px;
  margin-left: 20%;
  background-color: white;
  display: block; }

.site-header-title {
  font-size: 14px;
  margin-top: 30px;
  margin-left: 30px; }

.hero {
  position: relative; }

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 500px; }

.hero-text {
  display: block;
  position: absolute;
  top: 170px;
  right: 300px;
  text-align: center; }

.hero-text-regular {
  font-size: 28px; }

.hero-text-small {
  font-size: 20px; }

site-inquiry {
  margin: 0 0 0 auto; }

.content {
  background-color: #ebb94d;
  padding-top: 20px;
  width: 100%;
  margin-top: 0px;
  text-align: center;
  height: 600px; }

.content-20 {
  font-size: 20px;
  line-height: 10px;
  color: white; }

.content-18 {
  font-size: 18px;
  font: Menlo-600;
  color: #c7254e;
  background-color: whitesmoke;
  max-width: 470px;
  margin: 20px auto; }

.content-21 {
  margin-top: 30px;
  font-size: 21px;
  line-height: 20px;
  color: white; }

.site-footer {
  background: #333;
  padding: 80px 0; }

.copyright {
  color: #fff;
  font-size: 12px;
  text-align: center; }

.u-mtm {
  margin-top: 70px; }

.u-align-baseline {
  vertical-align: baseline !important; }

.u-align-top {
  vertical-align: top !important; }

.u-align-middle {
  vertical-align: middle !important; }

.u-align-bottom {
  vertical-align: bottom !important; }

.u-align-text-bottom {
  vertical-align: text-bottom !important; }

.u-align-text-top {
  vertical-align: text-top !important; }

.u-mtm {
  margin-top: 70px; }

/*# sourceMappingURL=example.css.map */
