.p-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
}
.p-main-nav-img {
  width:110px;
  height: auto;
}
.p-main-nav-menu {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  &-items {
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
    // color: #262626;
    // text-decoration: none;
  }
  &-items-link{
    color: #262626;
    text-decoration: none;
    &:hover {
      color: #262626;
      border-bottom: 2px solid #262626;
    }
  }
}

.p-nav-right-menu{
  display: flex;
&-items-link {
  color: #262626;
  text-decoration: none;
  margin-left: 20px;
}
}

.p-hero{
  width:100%;
  height:440px;
  background: url(../img/RE4nmz0.webp) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &-title{
    font-size: 24px;;
    font-style: bold;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &-contents{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &-btn{
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    & :hover{
      color:#fff;
      border-bottom: 2px solid #fff;
      opacity: 0.9;
    }
  }
}
.p-subnav {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
&-item {
  width: 100%;
  height: 330px;
  margin: 0px;
}
&-item-title {
  font-size: 20px;
  font-weight: 600;
}
&-item__laptop {
  background: url(../img/RE3NYMe.webp) no-repeat center center/cover;
  width: 100%;
  height: 150px;
  display: inline-block;
}
&-item-btn{
  cursor:pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
    padding: 0px 0px;
    color: #0067b8;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    &:hover{
      color:#fff;
      border-bottom: 2px solid #fff;
      opacity: 0.9;
    }
}
&-item__surfacePro {
  background: url(../img/RE3NOmL.webp) no-repeat center center/cover;
  width: 100%;
  height: 150px;
  display: inline-block;
}
&-item__offer {
  background: url(../img/RE4mQuK.webp) no-repeat center center/cover;
  width: 100%;
  height: 150px;
  display: inline-block;
}
&-item__xbox {
  background: url(../img/RE3Z8GY.webp) no-repeat center center/cover;
  width: 100%;
  height: 150px;
  display: inline-block;
}
}

.p-gallery {
  width: 100%;
  height: 350px;
  background: url(../img/RE4mU1P.png) no-repeat center center/cover;
  &-title {
    padding-top: 140px;
    padding-left: 70px;
    font-size: 20px;
    font-weight: 600;
  }
  &-content {
    padding-left: 70px;
    font-size:14px;
    font-weight: 400;
    width: 40%;
  }
  &-btn {
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
    font-size: 15px;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 70px;
    & :hover{
      color:#fff;
      border-bottom: 2px solid #fff;
      opacity: 0.9;
  }
  }
}

.p-card4-title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  margin-top: 30px;
}
.p-card4 {
  width: 100%;
  height: 350px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  &-title {
    margin-bottom: 20px;
  }
  &-item {
    width: 100%;
    height: 150px;
    margin: 0px;
  }
  &-item-title {
    font-size: 20px;
    font-weight: 600;
  }
  &-item-content {
    font-size: 15px;
    font-weight: 300;
  }
  &-item__office365 {
    background: url(../img/RE2mheW.webp) no-repeat center center/cover;
    width: 100%;
    height: 150px;
    display: inline-block;
  }
  &-item__future {
    background: url(../img/RE3Wknw.webp) no-repeat center center/cover;
    width: 100%;
    height: 150px;
    display: inline-block;
  } 
  &-item__profile {
    background: url(../img/RE4pn0d.webp) no-repeat center center/cover;
    width: 100%;
    height: 150px;
    display: inline-block;
  } 
  &-item__kubernetes {
    background: url(../img/RE3sKm8.webp) no-repeat center center/cover;
    width: 100%;
    height: 150px;
    display: inline-block;
  } 
  &-item-btn{
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
      padding: 0px 0px;
      color: #0067b8;
      font-size: 15px;
      margin-bottom: 10px;
      text-transform: uppercase;
      &:hover{
        color:#fff;
        border-bottom: 2px solid #fff;
        opacity: 0.9;
      }
  }
}

.p-hero2 {
  background: url(../img/RE4pPgw.webp) no-repeat center center/cover;
  width: 100%;
  height: 430px;
  &-content {
    width: 55%;
    padding: 100px 0 0 30px;
  }
  &-title {
    font-size: 20px;
    font-weight: 600;
  }
  &-btn--lg{
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    background: #000000;
    padding: 10px 10px;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      &--link {
        color: #fff;
      }
      &:hover{
        color:#fff;
        border-bottom: 2px solid #fff;
        opacity: 0.9;
      }
    }
    &-btn--md{
        cursor:pointer;
        display: inline-block;
        border: 0;
        font-weight: bold;
          padding: 10px 10px;
          color: #000000;
          font-size: 15px;
          margin-bottom: 10px;
          text-transform: uppercase;
          &:hover{
            color:#fff;
            border-bottom: 2px solid #fff;
            opacity: 0.9;
          }  
        }
      }
.link {
  &__title{
    font-size: 17px;
    margin:30px 0px;
    font-weight: 300;
    display: inline-block;
  }
  &__icon {
    margin-left: 10px;
  }
}
.p-footer {
  background: #F2F2F2;
  width: 100%;
  height: 350px;
  &-container {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
  }
  &-upper {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  &-item__title {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;
  }
  &-item__content {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
  }
}

.p-footer-link {
  background: #F2F2F2;
  display: flex;
  align-items: center;
  &-items {
    font-size:10px ;
    margin-left: 20px;
    color: #616161;
  }
  

}